.BalancesTable {
  width: 35%;

  th {
    border: none !important;
    font-weight: 600;
    font-size: 14px;
    color: rgb(162, 162, 162);
    cursor: pointer;
    justify-content: space-between;
  }

  .Toggle.button,
  .Toggle.button:active,
  .Toggle.button:focus {
    background: rgba(0, 216, 151, 0.15);
    color: #00d897;
    border: none;
    font-weight: 500;
    margin-bottom: 1rem;
    float: right;
  }
  .Toggle.button:hover {
    background: rgba(0, 216, 151, 0.35);
    color: #00d897;
    border: none;
    font-weight: 500;
    margin-bottom: 1rem;
    float: right;
  }
}
