.barchart-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 350;
  display: flex;
  justify-content: space-between;
}

.barchart-wrapper {
  background-color: white;
  position: relative;
  width: 60%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.barchart-right-title {
  display: flex;
  font-weight: 500;
  justify-content: flex-end;
  flex-basis: auto;
  flex-grow: 1;
  color: #002237;
}

.barchart-right-title-item {
  margin: 0 6px;
}

.barchart-header {
  display: flex;
  align-items: center;
}

.add-asset-button {
  background-color: rgb(255, 0, 122) !important;
  border-color: rgb(255, 0, 122) !important;
}

.add-asset-button {
  background-color: rgb(255, 0, 122) !important;
  border-color: rgb(255, 0, 122) !important;
}

.add-asset-button:hover {
  background-color: rgb(230, 0, 110) !important;
}
