.ExchangeConnectionForm {
  background-color: white;
  position: relative;
  max-width: 420px;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  margin: auto;

  .form-label {
    display: inline;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    color: #565a69;
    float: left;
    margin-bottom: 0.5rem;
  }
}
