.Home {
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;

  .login-button,
  .login-button:active,
  .login-button:focus {
    background: rgba(0, 216, 151, 0.15);
    color: #00d897;
    border: none;
    font-weight: 500;
    height: 40px;
    width: 80px;
  }

  .login-button:hover {
    background: rgba(0, 216, 151, 0.15);
    color: #00d897;
    border: none;
    opacity: 0.9;
    font-weight: 500;
    height: 40px;
    width: 80px;
  }
}
