.SwapAsset {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  border-color: rgb(217, 227, 248);
  border: 1px solid rgb(247, 248, 250);
  p {
    display: inline;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(86, 90, 105);
  }
  .top-wrapper {
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.75rem 1rem 0px;
  }
  .bottom-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  .token-amount-input,
  .token-amount-input:disabled {
    color: rgb(0, 0, 0);
    width: 0px;
    position: relative;
    font-weight: 500;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    opacity: 0.6;
  }
  .max-button {
    border-radius: 0.5rem;
    font-size: 0.875rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 0.5rem;
    align-items: center;
    padding: 0.25rem;
    background: rgba(0, 216, 151, 0.15);
    color: #00d897;
    border: none;
    font-weight: 500;
  }
  .max-button:hover,
  .max-button:focus {
    outline: rgb(2, 104, 73) !important;
    background-color: rgb(66, 248, 188) !important;
    color: rgb(1, 48, 26) !important;
  }

  .asset-select-button {
    background-color: white;
    align-items: center;
    height: 2.2rem;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 0px 0.5rem;
  }
  .asset-select-button:focus {
    background-color: inherit;
    color: inherit;
  }

  button {
    span {
      display: flex;
      .icon {
        margin: 0px 0.25rem 0px 0.5rem;
        height: 35%;
      }
      svg {
        margin: 0px 0.25rem 0px 0.75rem;
        font-size: 16px;
      }
    }
    .token-symbol-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .asset-not-selected-button,
  .asset-not-selected-button:focus {
    background-color: #009185;
    color: white !important;
    align-items: center;
    width: 15rem;
    height: 2.2rem;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 0px 0.5rem;
  }

  .asset-not-selected-button {
    span {
      margin-left: 0.14rem;
    }
  }
  .asset-select-button:hover {
    background-color: rgb(247, 248, 250);
    color: black;
  }

  .asset-not-selected-button:hover {
    background-color: #009185;
    opacity: 0.9;
  }

  .asset button:hover,
  button:active,
  button:focus {
    outline: none;
  }
}
