.TableItem {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px 0px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  width: inherit;
  td {
    border-top: none !important;
    font-weight: 400;
  }
}
